body {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*页脚声明文件*/
#footerContent {
    text-align: center;
}

/*页头部分*/
#signature {
    background-image: url(../images/front_end.png);
    background-size: cover;
}

#signature img {
    height: 200px;
    float: right;
}

.thumbnail img, h3 {
    cursor: pointer;
}